{% extends "base.html" %}
{% block content %}
    <div class="mb-4">
        <h1>Add Comment</h1>
        <hr>
    </div>
    <nav>
        <ol class="breadcrumb">
            {% if not ticket.project.archived %}
                <li class="breadcrumb-item"><a href="{% url "project_list" %}">Active Projects</a></li>
            {% else %}
                <li class="breadcrumb-item"><a href="{% url "project_archive_list" %}">Archived Projects</a></li>
            {% endif %}
            <li class="breadcrumb-item">
                <a href="{% url "project_detail_ticket_open" ticket.project.pk %}">{{ ticket.project.title }}</a>
            </li>
            <li class="breadcrumb-item"><a href="{% url "ticket_detail" ticket.pk %}">{{ ticket.title }}</a></li>
            <li class="breadcrumb-item active">Add Comment</li>
        </ol>
    </nav>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary" type="submit">Submit</button>
    </form>
{% endblock %}
