{% extends "base.html" %}
{% block content %}
    <div class="mb-4">
        <h1>Change Password</h1>
        <hr>
    </div>
    <nav>
        <ol class="breadcrumb">
            {% if user.account.role == "admin" %}
                <li class="breadcrumb-item"><a href="{% url "account_list" %}">All Accounts</a></li>
            {% endif %}
            <li class="breadcrumb-item active">
                <a href="{% url "account_detail" account.pk %}">{{ account.user.username }}</a>
            </li>
            <li class="breadcrumb-item active">Change Password</li>
        </ol>
    </nav>
    {% if messages %}
        <div class="alert alert-secondary">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary" type="submit">Save</button>
    </form>
{% endblock %}
