{% extends "base.html" %}
{% block content %}
    <div class="mb-4">
        <h1>New Project</h1>
        <hr>
    </div>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "project_list" %}">Active Projects</a></li>
            <li class="breadcrumb-item active">New Project</li>
        </ol>
    </nav>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary" type="submit">Save</button>
    </form>
{% endblock %}
